{% extends "auctions/layout.html" %}

{% block title %}Edit your account{% endblock title %}

{% block body %}
    <h1>Edit your account</h1>
    <p>You can edit your account using this form:</p>
    <!-- Multiple forms and one submit -->
    <form method="post">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save changes"></p>
    </form>

    <br>
    <h1>Change your password</h1>
    <a type="button" class="btn btn-primary" href="{% url "auctions:password_change" %}">Change password</a>
{% endblock body %}